<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>alt api</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            html, body {
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container is-flex is-flex-direction-column is-justify-content-center is-align-content-center has-text-centered" style="height: 100%;">
            <div class="box">
                <h1 class="is-size-1">Alt api</h1>
                <p>Może i niestabilne API, ale za to otwarte i nowe</p>
            </div>
            <div class="box">
                <a href="/docs" class="button is-primary icon-text" role="button">
                    <span class="icon"><i class="fa-solid fa-book"></i></span>
                    <span>Docs (OpenAPI)</span>
                </a>
                <a href="https://github.com/pjatk21/alt-api" class="button is-link icon-text" role="button">
                    <span class="icon"><i class="fa-brands fa-github"></i></span>
                    <span>Github</span>
                </a>
            </div>
        </div>
    </body>
</html>